project/src/main/mule/project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22fd1472-49c6-4fe5-99e7-fb9086df8f8f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="projectFlow" doc:id="704d5eb6-2cef-4b24-b84e-1de165f7077f" >
		<http:listener doc:name="Listener" doc:id="a6cff85d-baf2-4a71-9374-3fd131f1b243" config-ref="HTTP_Listener_config" path="/project"/>
		<logger level="INFO" doc:name="Logger" doc:id="40788516-6ce6-4b0a-99a7-816ced1293ed" message="#['Hassen']"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="a3b85ea3-3bbb-4c40-a4a3-0eb32698a641" />
	</flow>
</mule>
